.advantage {
  background-color: $light-gray;
  padding: 71px 0 64px;
  overflow: hidden;
  &__list {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 34px;
    @media all and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      gap: 77px;
    }
  }
}