.carousel {
  padding: 81px 0;
  &__inner {
    position: relative;
    max-width: 627px;
    margin: 0 auto;
  }
  &__img {
    width: 100%;
  }
  .slick-next,
  .slick-prev {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 50%;
    left: -66px;
    z-index: 10;
    img {      
      width: 31px;
      height: 50px;
    }
  }
  .slick-next {
    left: auto;
    right: -66px;
  }
  .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        &:before {
          font-size: 16px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          content: '•';
          text-align: center;
          opacity: .3;
          color: black;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          }
        }
      &.slick-active {
        button::before{
          opacity: 1;
          color: black;
        }
      }
    }
  }
  
}