.footer {
  position: relative;
  &__map {
    iframe {
      display: block;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    padding: 50px 20px 56px;
    @media all and (min-width: 768px) {
      max-width: 460px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    @media all and (min-width: 1200px) {
      top: 0;
      bottom: auto;
    }
  }
  &__address {
    color: $white;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    margin: 0;
  }
  &__phone {
    color: $white;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    margin-top: 36px;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 36px;
  list-style: none;
  &__item {
    color: $white;
    font-size: 0;
    margin-right: 27px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 52px;
    height: 52px;
    border: 2px solid $white;
    border-radius: 50%;
    transition: box-shadow .1s;
    &:hover {
      box-shadow: 2px 2px 14px $light-gray;
      color: inherit;
    }
  }
  i {
    flex-grow: 0;
    font-size: 26px;
    font-style: normal;
    line-height: 1;
  }
}
